[submodule "DemoProject/themes/ananke"]
	path = DemoProject/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "D1/themes/ananke"]
	path = D1/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
